*{
    margin: 5px auto;

}
body{
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
}
.topbar h1{
    text-align: center;
    font-size: 40px;
    color: rgb(32, 82, 125);
}
.topbar button{
    width: fit-content;
    padding: 5px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    margin: 10 auto;
    background-color: rgb(137, 189, 235);
    color: rgb(32, 82, 125);
    transition: 0.1s;
}
.topbar button:hover{
    background-color: rgb(32, 82, 125);
    color: rgb(137, 189, 235);
}
#clearBtn:hover{
    background-color:  rgb(202, 28, 28);
}
.topbar select{
    width: fit-content;
    padding: 5px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    margin: 10 auto;
    background-color: rgb(137, 189, 235);
    color: rgb(32, 82, 125);
}
.topbar select:hover{
    background-color: rgb(32, 82, 125);
    color: rgb(137, 189, 235);
}